{% extends "user_base.html" %}

{% block title %}
<h1 class="title">CEC Manager | Home</h1>
{% endblock %}


{% block content %}
<article>
        <header>
            <h1>Recent activity</h1>
            <p></p>
        </header>
        <section>
            <ul>
            {% for student in students %}
                <li><a href="{{ url_for('view', id=student.id)}}">{{ student.first_name }}</a></li>
            {% endfor %}
            </ul>
        </section>

</article>
{% endblock %}

{% block aside %}
<h3>Info</h3>
<p>CEC has effectively four classrooms:</p>
<ul>
    <li>Caterpillars: 6 wk-6 mo</li>
    <li>Busy Bees: 6 mo - 24 mo</li>
    <li>Crickets: 24 mo - 36 mo</li>
    <li>Mighty Butterflies: 36 mo - 72 mo</li>
</ul>
{% endblock %}