{% extends "user_base.html" %}
{% from "form_macros.html" import render_field %}

{% block title%}
<h1 class="title">CEC Manager | Upload</h1>
{% endblock %}


{% block content%}
<article>
        <h1 style="clear:both">{{ filename }}</h1>
        <table>
            {{ table | safe }}
        </table>
            <a href="url_for('upload_db')"><button>Send to DB</button></a>
</article>
{% endblock %}

{% block aside%}
<h3>Info</h3>
<p>CEC has effectively four classrooms:</p>
<ul>
    <li>Caterpillars: 6 wk-6 mo</li>
    <li>Busy Bees: 6 mo - 24 mo</li>
    <li>Crickets: 24 mo - 36 mo</li>
    <li>Mighty Butterflies: 36 mo - 72 mo</li>
</ul>
{% endblock %}